@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Ping Pong</h1>
  <h4>Enter a number and we will return you a range from 0 to the entered number</h4>
  <form action="ping-pong" method="post">
    <label for="input-number">Enter a number:</label>
    <input id="input-number" name="input-number" type="number">
    <button id="submit" class="btn btn-primary btn-lg" type="submit">Run!</button>
  </form>

</div>
